.top-bar, .top-bar ul {
	background-color: #333;
}

.top-bar {

	.menu-text {
		color: white;
	}

	.menu > .menu-text > a {
		display: inline;
		padding: 0;
	}
	.active-link {
		font-weight: bold;
	}
}